R202_to_R214.change.lineage_map.tsv
R202_to_R214.change.R202.assid2taxid2lineage.tsv
R202_to_R214.change.R214.assid2taxid2lineage.tsv
R202_to_R214.change.taxid.list
R202_to_R214.keep.R202.assid2taxid2lineage.tsv
notes
gtdb-taxdump
taxonomy
gtdb-taxid-changelog.csv.gz

